<html ng-app="mainApp">
    <head>
        <title>Idea Sharing Application - Using Angular</title>  
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="style/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.gantt/latest/angular-gantt.min.css"/>
  
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="http://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
        <script type='text/javascript' src="http://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
        <script type='text/javascript' src="http://cdn.jsdelivr.net/angular.moment/latest/angular-moment.min.js"></script>
        <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/moment-range/2.0.3/moment-range.min.js"></script>

        <script type='text/javascript' src="http://rawgit.com/JimLiu/angular-ui-tree/master/dist/angular-ui-tree.js"></script>
        <link rel="stylesheet" type="text/css" href="http://rawgit.com/angular-ui-tree/angular-ui-tree/master/dist/angular-ui-tree.min.css">

        <script type='text/javascript' src="http://rawgit.com/ganarajpr/angular-dragdrop/master/draganddrop.js"></script>

        <script type='text/javascript' src="http://rawgit.com/marcj/css-element-queries/master/src/ElementQueries.js"></script>
        <script type='text/javascript' src="http://rawgit.com/marcj/css-element-queries/master/src/ResizeSensor.js"></script>

        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css">
        

        <script type='text/javascript' src="https://cdn.jsdelivr.net/angular.gantt/1.2.9/angular-gantt.min.js"></script>
        <script type='text/javascript' src="https://cdn.jsdelivr.net/angular.gantt/1.2.9/angular-gantt-plugins.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/angular.gantt/1.2.9/angular-gantt-plugins.min.css">
        
        
        <script src="scripts/app.js"></script>
        <script src="scripts/services/authorization.js"></script>
        <script src="scripts/services/projecthandler.js"></script>
        <script src="scripts/controller/registration.js"></script>
        <script src="scripts/controller/datahandler.js"></script>
        
        
        
        
        <style>
            body {
              padding-top: 60px;
            }
            @media (max-width: 979px) {
              body {
                padding-top: 0px;
              }
            }
        </style>
    </head>
    
        <body ng-controller="MainController" flex>
            <md-toolbar layout="row">
              <md-button md-no-ink ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn md-primary">
                <span class="visually-hidden"><ng-md-icon icon="menu"/></span>
              </md-button>
              <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Hello World</h1>
            </md-toolbar>
            <div layout="row" flex>
                <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" 
                    md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-sm')">
                    <md-toolbar class="md-tall md-hue-2">
                        <span flex></span>
                        <div layout="column" class="md-toolbar-tools-bottom inset">
                            <user-avatar><md-icon md-svg-src="Images/thumbnail.jpg"></md-icon></user-avatar>
                          <span></span>
                          <div>{{currentUser.firstname + " " + currentUser.lastname}}</div>
                          <div>{{currentUser.email}}</div>
                        </div>
                    </md-toolbar>
                    <md-list>
                        <md-item ng-repeat="item in menu">
                            <a ng-click="sidebarNav(item)">
                                <md-item-content md-ink-ripple layout="row" layout-align="start center" ng-show="{{item.l_hid}}">
                                  <div class="inset">
                                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                                  </div>
                                  <div class="inset">{{item.name}}
                                  </div>
                                </md-item-content>
                            </a>
                        </md-item>
                    </md-list>
                    <md-divider></md-divider>
                    <md-subheader ng-show="currentUser">Your Projects</md-subheader>
                    <md-list>
                        <md-item ng-repeat="proj in projectList">
                            <a ng-click="getTaskProject(proj)">
                                <md-item-content md-ink-ripple layout="row" layout-align="start center" ng-show="currentUser">
                                    <div class="inset">
                                        <ng-md-icon icon="extension"></ng-md-icon>
                                    </div>
                                    <div class="inset">
                                        {{proj.projectName}}
                                    </div>
                                </md-item-content>
                            </a>
                        </md-item>
                        
                        
                    </md-list>
                    
                </md-sidenav>
                <main ng-view flex>
                </main>
                
                
            </div>
            

        
    </body>
</html>