<md-dialog aria-label="Task Form" style="min-height: 350px;" flex="25"> 
    
    <md-dialog-content>
        <form name="taskForm" flex>
            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Task Name</label>
                    <input type="text" ng-model="task.name"/>
                </md-input-container>
                <md-input-container>
                    <label>Task Details</label>
                    <textarea ng-model="task.detail"/>
                </md-input-container>
            </div>
            
            <div layout="vertically" flex>
                <div flex="40">
                    <h6>Start Date</h6>
                    <md-datepicker ng-model="task.startDate"/>
                </div>
                <div flex="20"></div>
                    <div flex="40">
                        <h6>End Date</h6>
                        <md-datepicker ng-model="task.endDate"/> </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <span flex></span> 
        <md-button ng-click="closeDialog()"> Cancel </md-button> 
        <md-button ng-click="saveTask()" class="md-primary"> Save </md-button> 
    </md-dialog-actions>
</md-dialog>