

            <form name="loginForm">
                <hgroup>
                    <h1>
                        Please Login
                        
                    </h1>
                    <p><span class="error-messages" ng-show="success">{{success}}</span></p>

                </hgroup>

                    <md-input-container>
                        <label>Email</label>
                        <input type="email" name="email" ng-model="user.email" ng-required="true"/>
                         <span class="error-messages" ng-show="loginForm.email.$invalid&&!loginForm.email.$pristine">Please enter a valid email address</span>
                    </md-input-container> 
                   
                   
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" name="password" ng-model="user.password" ng-required="true"/>
                        <span class="error-messages" ng-show="loginForm.password.$invalid&&!loginForm.password.$pristine">Password is required</span>
                    </md-input-container>
                    <br>
                    <md-button ng-disabled="loginForm.$invalid" class="md-raised md-primary" ng-click="login()">Login!!!</md-button>


            </form>
       

